td{
	padding:10px;
}
  .button {
  position: relative;
  margin:2% auto 0 15%; 
  background-color: rgb(0, 38, 255);
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}	
.result1{
	padding:5px;
}
.payable{
	font-size:18px;
	width:200px;
	position:absolute;
	left:145px;
}
.bb{
	margin:5px;
}
#develop{
	margin:-25px 0 15px 90px;
}
